@import "reset.css" all;

@font-face {
    font-family: FontAwesome;
    src: url(FontAwesome/fonts/fontawesome.ttf);
}

@font-face {
    font-family: MagicFontSemi;
    src: url(MagicFont/SF-UI-Display-Semibold.ttf);
}

@font-face {
    font-family: MagicFontRegular;
    src: url(MagicFont/SF-UI-Display-Regular.ttf);
}

@font-face {
    font-family: MagicFontLight;
    src: url(MagicFont/SF-UI-Display-Light.ttf);
}

@font-face {
    font-family: MagicFontHeavy;
    src: url(MagicFont/SF-UI-Display-Heavy.ttf);
}

@font-face {
    font-family: MagicFontBold;
    src: url(MagicFont/SF-UI-Display-Bold.ttf);
}

@font-face {
    font-family: MagicFontBlack;
    src: url(MagicFont/SF-UI-Display-Black.ttf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timerSmall {
    display: none;
}

.alert {
    position: absolute;
    top: -50px;
    width: 100%;
    height: 50px;
    background: red;
    text-align: center;
    line-height: 50px;
    color: white;
    user-select: none;
    opacity: 0;
    transition: ease-in-out all .5s;
}

#message {
    position: fixed;
    width: 300px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 20px;
    top: 20px;
    border-radius: 5px;
    font-family: MagicFontRegular;
    font-size: 16px;
    border: 2px solid rgb(60, 221, 29);
    z-index: 1000000000;
    visibility: hidden;
    opacity: 0;
    transition: ease all .5s;
}

#privacy-policy {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

    #privacy-policy p {
        width: 630px;
        height: 400px;
        background: white;
        padding: 20px 20px 0 20px;
        position: relative;
    }

header {
    width: 100%;
    height: 580px;
    /*background: url(img/bg.jpg) no-repeat;*/
    background-size: cover;
    position: relative;
}

    header span {
        color: #207EA9;
    }

    header h2 {
        color: white;
        font-family: MagicFontBold;
        font-size: 36px;
        text-align: center;
        padding-top: 75px;
        padding-left: 75px;
    }

        header h2 span {
            color: yellow;
        }

    header h3 {
        color: white;
        font-family: MagicFontBold;
        font-size: 35px;
        width: 33%;
        position: absolute;
        bottom: 140px;
        left: 45px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
    }

        header h3 span {
            color: red;
        }

    header h4 {
        color: white;
        font-family: MagicFontBold;
        font-size: 30px;
        width: 540px;
        position: absolute;
        bottom: 30px;
        left: 45px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px green;
    }




    header .container {
        height: 80px;
        background: white;
        padding: 0 65px 0 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: -2;
    }

        header .container h1 {
            font-size: 24px;
            font-family: MagicFontBold;
            text-transform: uppercase;
        }

        header .container p {
            font-size: 30px;
            font-family: MagicFontLight;
            font-weight: 600;
        }

.magic-track {
    width: 1360px;
    height: 275px;
    background: rgb(225, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    .magic-track h1 {
        font-family: MagicFontBold;
        font-size: 30px;
    }

    .magic-track .container {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .magic-track .describe {
        display: flex;
        flex-wrap: wrap;
        width: 965px;
        height: 150px;
        justify-content: space-between;
        margin-right:;
    }

        .magic-track .describe li {
            width: 445px;
            height: 65px;
            margin-bottom: 20px;
            /*margin: 0 75px 25px 0;*/
            /*border: 1px solid red;*/
            position: relative;
        }

    .magic-track .container ul li:before {
        content: "";
        height: 24px;
        width: 24px;
        background: url(img/bullet.png);
        position: absolute;
        display: block;
        left: -30px;
        top: -2px;
    }


    .magic-track .describe li h2 {
        font-size: 20px;
        font-family: MagicFontSemi;
        color: #103F54;
        margin-bottom: 5px;
    }

    .magic-track .describe li p {
        color: #605E5E;
        font-family: MagicFontRegular;
        font-size: 15px;
        line-height: 20px;
    }

.video {
    width: 1360px;
    height: 700px;
    background: rgb(66, 103, 120);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    .video iframe {
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
    }

    .video .button {
        width: 240px;
    }

.choose-track {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

    .choose-track h1 {
        font-family: MagicFontBold;
        font-size: 40px;
        text-transform: uppercase;
        margin-top: 35px;
    }

    .choose-track p {
        font-family: MagicFontRegular;
        font-size: 15px;
        margin-top: 20px;
    }

    .choose-track h1 span {
        color: #207EA9;
    }

    .choose-track .items {
        display: flex;
        margin-top: 60px;
    }

        .choose-track .items .item {
            width: 290px;
            height: 617px;
            border: 1px solid rgb(148, 148, 148);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;
            margin-right: 23px;
        }

            .choose-track .items .item h3 {
                font-family: MagicFontSemi;
                font-size: 20px;
                position: absolute;
                bottom: 30px;
                /*color: rgb(60, 221, 29);*/
            }

            .choose-track .items .item .item-photo {
                height: 25%;
                width: 75%;
                margin-bottom: 40px;
            }

            .choose-track .items .item:last-child {
                margin: 0;
            }

            .choose-track .items .item .price {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 109px;
                background: rgb(236,236,236);
                position: relative;
            }

                .choose-track .items .item .price h1 {
                    font-family: MagicFontBold;
                    font-size: 20px;
                    margin: 0;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    background: #207EA9;
                    color: white;
                    display: flex;
                    justify-content: center;
                    /*align-items: center;*/
                    line-height: 82px;
                    position: absolute;
                    top: -50px;
                }

                    .choose-track .items .item .price h1.one-set:after {
                        content: "один набор";
                        color: white;
                        font-family: MagicFontLight;
                        font-size: 13px;
                        text-transform: lowercase;
                        position: absolute;
                        top: 20px;
                    }


                    .choose-track .items .item .price h1.two-sets:after {
                        content: "два набора";
                        color: white;
                        font-family: MagicFontLight;
                        font-size: 13px;
                        text-transform: lowercase;
                        position: absolute;
                        top: 20px;
                    }

                    .choose-track .items .item .price h1 span {
                        color: black;
                        font-size: 15px;
                        color: white;
                        margin-left: 5px;
                        margin-top: 2px;
                    }

.discount-mark:before {
    /*content: "-40%";
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MagicFontRegular;
    font-size: 24px;
    color: white;
    top: -24px;
    right: -16px;*/
    content: "НОВИНКА";
    font-family: MagicFontRegular;
    font-size: 18px;
    color: white;
    background: rgb(246, 92, 92);
    position: absolute;
    padding: 5px;
    top: 0;
    right: 0;
}

.button {
    width: 200px;
    height: 40px;
    background: linear-gradient(1deg, rgba(236,119,119,1) 0%, rgba(197,74,74,1) 100%);
    border: none;
    border-radius: 2px;
    font-size: 16px;
    color: white;
    font-family: MagicFontHeavy;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: color .5s ease-out, background 1s ease-in;
}

    .button:hover {
        background: linear-gradient(1deg, rgba(197,74,74,1) 0%, rgba(236,119,119,1) 100%);
    }

    .button:before {
        content: "";
        display: block;
        background: url(img/shadow.png) no-repeat;
        width: 161px;
        height: 9px;
        position: absolute;
        bottom: -9px;
        right: 0;
    }

.item button img {
    margin-right: 10px;
}

.pieces li {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

    .pieces li:first-child {
        margin: 0;
    }

    .pieces li span {
        font-family: MagicFontBlack;
        font-size: 15px;
    }

    .pieces li p {
        margin: 0;
        font-size: 15px;
        font-family: MagicFontRegular;
        color: #605E5E;
    }

        .pieces li p.top-sells {
            color: #207EA9;
            font-family: MagicFontSemi;
        }

        .pieces li p.dead-loop {
            font-family: MagicFontSemi;
            color: black;
        }

.discount p {
    margin: 0;
    font-family: MagicFontRegular;
    font-size: 16px;
    color: red;
}

.discount h2 {
    text-align: center;
    font-family: MagicFontBold;
    font-size: 18px;
    text-decoration: line-through;
    color: rgb(89,89,89);
}

.reviews {
    width: 100%;
    height: 338px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    /*box-shadow: 0 6px 5px -3px rgba(194,194,194,1);*/
    /*box-shadow: 0px 0px 5px 2px rgba(194,194,194,1);*/
}

    .reviews h1 {
        font-family: MagicFontRegular;
        font-size: 48px;
    }

#carousel {
    width: 733px;
    height: 181px;
    margin-top: 35px;
}

    #carousel li {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: ease-in-out all 1s;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    #carousel .person {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #carousel .person h6 {
            font-size: 16px;
            font-family: MagicFontBold;
        }

        #carousel .person .photo {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: url(img/photo.jpg);
            margin-bottom: 15px;
        }

    #carousel .review {
        width: 530px;
        height: 120px;
        border-radius: 5px;
        position: relative;
        margin-top: 12px;
        box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
        display: flex;
        justify-content: center;
    }

        #carousel .review p {
            width: 430px;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;
            font-family: MagicFontLight;
            line-height: 18px;
            text-align: center;
        }

#prev {
    width: 45px;
    height: 46px;
    background: url(img/left.png);
    position: absolute;
    left: 135px;
    top: 130px;
    cursor: pointer;
}

#next {
    width: 45px;
    height: 46px;
    background: url(img/right.png);
    position: absolute;
    right: 135px;
    top: 130px;
    cursor: pointer;
}

.order {
    width: 1360px;
    height: 750px;
    background: rgb(140, 163, 173);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    .order h1 {
        font-family: MagicFontBold;
        font-size: 35px;
        color: white;
    }

    .order p {
        font-size: 17px;
        font-family: MagicFontLight;
        line-height: 20px;
        color: white;
        width: 85%;
    }

    .order .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .order ul {
        display: flex;
        flex-direction: column;
        width: 740px;
    }

        .order ul li {
            width: 98%;
            margin-bottom: 25px;
        }

            .order ul li h2 {
                color: white;
                font-size: 30px;
                font-family: MagicFontSemi;
                margin-bottom: 5px;
            }

            .order ul li p {
                width: 100%;
                font-family: MagicFontRegular;
                font-size: 15px;
            }

.ask-us {
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .ask-us h1 {
        font-size: 35px;
        font-family: MagicFontRegular;
        margin-bottom: 25px;
    }

    .ask-us p {
        font-size: 15px;
        font-family: MagicFontRegular;
        width: 74%;
        text-align: center;
        line-height: 20px;
    }

/*#carousel .review:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 28px 0 0;
            border-color: #007bff transparent transparent transparent;
            position: absolute;
            bottom: -14px;
            left: 40px;
            -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
        }*/



#zoomed {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

#zoomed-content {
    width: 1000px;
    height: 600px;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#prevImage {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    cursor: pointer;
}

    #prevImage:before {
        content: "\f100";
        font-family: FontAwesome;
        font-size: 50px;
        color: white;
    }

#nextImage {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -50px;
    text-align: center;
    cursor: pointer;
}

    #nextImage:before {
        content: "\f101";
        font-family: FontAwesome;
        font-size: 50px;
        color: white;
    }

/*#close {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
}

    #close:before {
        content: "\f00d";
        font-family: FontAwesome;
        font-size: 50px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }*/

#close {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 50px;
    right: 50px;
    cursor: pointer;
    overflow: hidden;
}

    #close:before, #close:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: white;
    }

    #close:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #close:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }





.magic-photos {
    width: 1440px;
    height: 880px;
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .magic-photos h1 {
        font-size: 35px;
        font-family: MagicFontBold;
        margin-bottom: 30px;
    }

        .magic-photos h1 span {
            color: #207EA9;
        }

    .magic-photos p {
        font-size: 17px;
        font-family: MagicFontLight;
        margin-bottom: 40px;
    }

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.lightbox img {
    width: 185px;
    height: 118px;
    margin-bottom: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


    .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    }


.baguetteBox-button {
    background-color: transparent !important;
}


header .slides {
    height: 500px;
}

.slides {
    position: relative;
    height: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

    .slide img {
        height: 100%;
        width: 100%;
    }

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

    .slide:nth-of-type(1) {
        background: url(img/1.jpg);
        background-position: center;
    }

    .slide:nth-of-type(2) {
        background: url(img/2.jpg);
        background-position: center;
    }

    .slide:nth-of-type(3) {
        background: green;
    }

@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}

#gallery {
    width: 1200px;
    height: 650px;
    /*border: 1px solid blue;*/
}

    #gallery > li {
        position: relative;
        float: left;
        z-index: 9999;
        width: 185px;
        height: 115px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgb(245,245,245);
        margin: 7.5px;
        cursor: pointer;
    }

        #gallery > li > img {
            position: absolute;
            width: 190px;
            height: 85px;
            transition: .1s transform;
        }

    #gallery li:hover {
        transform: scale(1.1);
    }

.fifth {
    margin: 0 18px 0 18px;
}

.second {
    margin: 0 18px 0 18px;
}

.first, .third {
    margin-bottom: 18px;
}

.seventh, .nine {
    margin-top: 18px;
}

.eight {
    margin: 18px 18px 0 18px;
}

#alert {
    position: fixed;
    width: 250px;
    height: 70px;
    background: red;
    z-index: 7777777777777;
    font-family: MagicFontRegular;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 20px 5px 20px;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -125px;
    border: 1px solid white;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out all .5s;
}


#myCarousel {
    height: 100%;
}

.glyphicon {
    font-size: 50px;
}

a.left, a.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 465px;
    /*background: url(img/footer_bg.jpg) no-repeat;*/
    background-size: cover;
    background-position: center;
    position: relative;
}

.line {
    height: 50px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .container {
    position: absolute;
    bottom: 65px;
    left: 65px;
}

    footer .container h1 {
        font-family: MagicFontBold;
        font-size: 40px;
        color: white;
        margin-bottom: 15px;
    }

    footer .container h2 {
        font-family: 'Marck Script', cursive;
        font-size: 40px;
        color: white;
    }

footer form {
    width: 460px;
    height: 300px;
    background: rgba(245,245,245,0.7);
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
    position: absolute;
    bottom: 55px;
    right: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    footer form h1 {
        font-family: 'Marck Script', cursive;
        font-size: 30px;
        font-weight: bold;
    }

    footer form h2 {
        font-family: 'Marck Script', cursive;
        font-size: 25px;
    }


footer a {
    position: absolute;
    color: white;
    font-family: MagicFontRegular;
    font-size: 16px;
    bottom: 25px;
    left: 25px;
}

.line a {
    font-family: MagicFontBold;
    font-size: 14px;
    color: black;
}

.line h1 {
    font-family: MagicFontRegular;
    font-size: 25px;
}

.contacts li a {
    text-decoration: none;
}

.vk:before {
    content: "\f189";
    font-family: FontAwesome;
    font-size: 20px;
}

.facebook:before {
    content: "\f230";
    font-family: FontAwesome;
    font-size: 20px;
}

.insta:before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 20px;
}


#callback {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.close-button {
    display: block;
    width: 15px;
    height: 15px;
    background: url(img/close_form.png);
    z-index: 9999999999999999;
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
}

#callback p, #orderForm p, #reviewForm p, footer form p, #order form p {
    position: relative;
}

#callback input, #orderForm input, #reviewForm input, footer form input, #order input {
    width: 335px;
    padding-left: 50px;
    height: 45px;
    border: 1px solid black;
    border-radius: 2px;
}

#callback .input-container {
    width: 430px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.5);
}

#callback img, #orderForm img, #reviewForm img, footer form img, #order form img {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px;
    width: 25px;
    height: 25px;
}

#reviewForm p img {
    top: 15px;
    margin-top: 0;
}

#callback h1, #orderForm h1, #reviewForm h1, #order h1 {
    font-family: MagicFontRegular;
    font-size: 26px;
}

#callback .container {
    width: 500px;
    height: 311px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
}

    #callback .container form {
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }



#order {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}


#orderForm {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

    #orderForm select, footer form select, #order form select {
        width: 386px;
        height: 45px;
        border: 1px solid black;
        border-radius: 2px;
        font-family: MagicFontRegular;
        font-size: 16px;
        padding: 0 15px 0 15px;
    }

    #orderForm form, #order form {
        width: 412px;
        height: 300px;
        box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #orderForm .container, #order .container {
        width: 500px;
        height: 460px;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

.total-price {
    width: 386px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

#cart {
    width: 148px;
    padding-left: 40px;
    height: 45px;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #cart p {
        font-family: MagicFontRegular;
        font-size: 16px;
    }

#minus {
    width: 20px;
    height: 20px;
    background: url(img/minus.png);
    cursor: pointer;
}

#plus {
    width: 21px;
    height: 20px;
    background: url(img/plus.png);
    cursor: pointer;
}

#total {
    text-align: center;
    width: 190px;
}

    #total p {
        font-family: MagicFontBold;
        font-size: 16px;
    }

    #total h1 {
        font-family: MagicFontBold;
        font-size: 15px;
    }

        #total h1 span {
            font-size: 30px;
            text-transform: uppercase;
        }

#reviewForm {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000000000;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

    #reviewForm .container {
        width: 500px;
        height: 545px;
        background: white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    #reviewForm form {
        box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.5);
        width: 410px;
        height: 228px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }

    #reviewForm textarea {
        height: 75px;
        width: 333px;
        padding-left: 50px;
        border: 1px solid black;
        border-radius: 2px;
        padding-top: 15px;
    }

input::placeholder, textarea::placeholder {
    text-transform: uppercase;
    font-family: MagicFontRegular;
    font-size: 16px;
}


.shell {
    position: relative;
    line-height: 1;
}

    .shell span {
        position: absolute;
        left: 3px;
        top: 1px;
        color: red;
        pointer-events: none;
        z-index: -1;
    }

    .shell i { /* any of these 3 will work */
        color: transparent;
        opacity: 0;
        visibility: hidden;
    }


    input.masked,
    .shell span {
        font-size: 16px;
        font-family: monospace;
        padding-right: 10px;
        background-color: transparent;
        text-transform: uppercase;
    }

@media screen and (max-width: 900px) {
    body header {
        height: 300px;
    }

    header .container {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        height: 300px;
        position: relative;
        justify-content: center;
        padding: 0;
    }

        header .container h1 {
            width: 55%;
            text-align: center;
            font-size: 20px;
        }

    header .slides {
        display: none;
    }

    header {
        background-image: none;
        height: 500px;
        justify-content: space-around;
    }

        header h2, header h3 {
            display: none;
        }

        header .container p {
            width: 150%;
            text-align: center;
        }

        header .container img {
            height: 62px;
            width: 101px;
        }

    .magic-track {
        height: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

        .magic-track h1 {
            width: 98%;
        }

        .magic-track .container {
            width: 100%;
            height: 600px;
            flex-direction: column;
            justify-content: space-around;
        }

            .magic-track .container ul {
                width: 100%;
                height: 500px;
                justify-content: center;
            }

                .magic-track .container ul li {
                    margin-bottom: 20px;
                    width: 98%;
                    position: relative;
                }

    .video {
        display: none;
    }

    .choose-track {
        height: 5320px;
    }

        .choose-track p, .choose-track h1 {
            width: 95%;
        }

        .choose-track .items {
            flex-direction: column;
            height: 2500px;
            align-items: center;
            width: 100%;
        }

            .choose-track .items .item {
                margin-right: 0;
                margin-bottom: 2px;
            }




    .horizontal-container {
        flex-direction: column;
        width: 100%;
    }

        .horizontal-container iframe {
            width: 100%;
        }

        .horizontal-container #gallery {
            display: none;
        }

    .reviews {
        height: 600px;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

        .reviews h1 {
            text-align: center;
        }

    #carousel {
        width: 100%;
        height: 300px;
    }

        #carousel li {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

            #carousel li .review {
                width: 95%;
            }

                #carousel li .review p {
                    width: 100%;
                }

    #next {
        right: 10px;
        top: 250px;
    }

    #prev {
        left: 10px;
        top: 250px;
    }

    .order {
        width: 100%;
        height: 1200px;
    }

        .order img {
            display: none;
        }

        .order h1, .order p {
            width: 98%;
            text-align: center;
        }

        .order ul {
            width: 100%;
            justify-content: center;
        }

            .order ul li h2 {
                width: 98%;
                text-align: center;
            }

    .ask-us {
        width: 100%;
        height: 300px;
    }

        .ask-us h1 {
            text-align: center;
        }


    .magic-photos {
        display: none;
    }

    footer {
        display: none;
    }

        footer .privacy-policy {
            justify-content: space-around;
        }

    #message {
        top: 0;
        left: 0;
        height: 100px;
        width: 100%;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid rgb(60, 221, 29);
        transition: ease-in-out all .6s;
    }

    #privacy-policy {
        overflow-y: scroll;
    }

        #privacy-policy p {
            padding-top: 50px;
            height: 120%;
            width: 100%;
            display: flex;
            align-items: center;
        }

    footer form {
        display: none;
    }

    footer h1, footer h2 {
        display: none;
    }

    #callback img, #orderForm img, #reviewForm img, footer form img {
        width: 24px;
        height: 24px;
    }

    .line {
        display: none;
    }

    #orderForm .container, #callback .container, #reviewForm .container {
        width: 100%;
        height: 100%;
    }

        #orderForm .container form, #callback .container form, #reviewForm .container form {
            width: 100%;
            height: 70%;
        }

            #orderForm .container form p, #callback .container form p, #reviewForm .container form p {
                width: 90%;
                display: flex;
                justify-content: center;
            }

                #orderForm .container form p input, #callback .container form p input, #reviewForm .container form p input {
                    width: 100%;
                }

                #orderForm .container form p img, #callback .container form p img, #reviewForm .container form p img {
                    left: 15px;
                }

            #orderForm .container form select {
                width: 90%;
            }


    .total-price {
        width: 90%;
    }

    #callback .input-container {
        width: 100%;
    }

    #orderForm .container form #cart p {
        width: 50px;
        text-align: center;
    }

    #reviewForm #reviewerMessage {
        width: 100%;
    }

    #timerBig {
        display: none;
    }
}
